<div class="container">
    <h1 *ngIf="loan.id == null">Crear préstamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>El juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.client" name="client" required>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-select>
            <mat-error>El cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de prestamo</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="loan.borrowedDate" name="borrowedDate" required (ngModelChange)="validaciones()" required>
            <mat-hint>Month-Day-Year</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle >
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>La fecha de prestamo no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de devolucion</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="loan.returnDate" name="returnDate" required (ngModelChange)="validaciones()" required>
            <mat-hint>Month-Day-Year</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle >
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error>La fecha de devolucion no puede estar vacía</mat-error>
        </mat-form-field>

        
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
        <mat-error *ngIf="returnPreviousBorrowed">La fecha fin NO puede ser anterior a la fecha de inicio</mat-error>
        <mat-error *ngIf="moreThan14Days">El prestamo máximo es de 14 días</mat-error>
        <mat-error *ngIf="validations">{{error}}</mat-error>
    </div>
</div>
